:root {
  --color-primary: #9ccfe7;
  --color-primary-light: #92c0d6;
  --color-secondary: #82cfcf;
  --color-accent: greenyellow;
  --color-neutral-beige: #e2e2e2;
  --font-primary: roboto;
  --font-secondary: oswald;
}

html {
  font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6, ul, ol, dl {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

a {
  color: var(--color-accent);
}

blockquote, cite {
  color: var(--color-light);
}
